<div class="row">
    {{#each data}}
    <div class="col-lg-3 col-md-3 col-sm-4 sensorReading">
        <div class="value">{{this.sensorvalue}}</div>
        <div class="name">{{this.sensorname}}, {{this.devicename}}</div>
    </div>
    {{/each}}    
</div>