<div class="row">
    {{#each data}}
    <div class="col-lg-3 col-md-3 col-sm-4 sensorReading">
        <div class="value">{{this.sensorValue}}</div>
        <div class="name">{{this.sensorName}}, {{this.deviceName}}</div>
    </div>
    {{/each}}    
</div>