.sensorReading {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    background-color: #efefef;
    text-align: center;
    border-radius: 0.25em;
    border: 1px solid black;
    height: 100%;
}

.sensorReading .value {
    font-size: 3em;
}

.sensorReading .name {
    font-size: 1em;
}

.color-white {
    color: #fff;
}

.color-black {
    color: #000;
}

.color-gray {
    color: #818182;
}

.text-small {
    font-style: italic;
    font-size: 0.8rem;
}

body {
    padding-top: 4.0rem;
}

.sensorColumn {
    margin-bottom: 10px;
}

.font-small {
    font-size: 0.8rem;;
}

.page-footer {
    margin-top: 20px;
    background-color: #efefef;
}

.main-body {
    min-height: 400px;
}

.sensorcentral-size-1_5x {
    font-size: 1.5rem !important;
}

.sensorcentral-size-2x {
    font-size: 2rem !important;
}

.sensorcentral-size-3x {
    font-size: 3rem !important;
}

#sensorcentral-spinner {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#fff;
    text-align: center;
    opacity:0.8;
    z-index:1001;
}

/* The switch - the box around the slider */
.sensorcentral-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .sensorcentral-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .sensorcentral-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sensorcentral-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sensorcentral-slider {
    background-color: #2196F3;
  }
  
  input:focus + .sensorcentral-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sensorcentral-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .sensorcentral-slider.sensorcentral-round {
    border-radius: 34px;
  }
  
  .sensorcentral-slider.sensorcentral-round:before {
    border-radius: 50%;
  }
  
  .sensorcentral-section {
    border: 1px solid black;

  }

  .sensorcentral-section .header {
    background-color: #efefef;
    padding: 5px;
    font-weight: bold;
  }
  