.sensorReading {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    background-color: #efefef;
    text-align: center;
    border-radius: 0.25em;
    border: 1px solid black;
    height: 100%;
}

.sensorReading .value {
    font-size: 3em;
}

.sensorReading .name {
    font-size: 1em;
}

.color-white {
    color: #fff;
}

.color-black {
    color: #000;
}

body {
    padding-top: 4.0rem;
}
